<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />

  <title>AO-Wiki</title>

    <!-- Start - Google Analytics -->
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-18635565-2']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    <!-- End - Google Analytics -->
    </script>
</head>

<div class="header">
    <div class="controls">
        {% if user %}
            {{user.name}} (<a class="gray-link" href="/logout">logout</a>)
        {% else %}
            <a class="gray-link" href="/login">login</a>
            |
            <a class="gray-link" href="/signup">signup</a>
        {% endif %}
    </div>

    <div class="controls">
        {% block controls %}
        {% endblock %}
    </div>

    <div class="clear"></div>
    </div>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>
