<!DOCTYPE HTML>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="/static/main.css" />
    <title>Sign Up</title>

    <!-- Start - Google Analytics -->
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-18635565-2']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
        <!-- End - Google Analytics -->
    </script>

</head>

<br>
<div class="login">

    <a class="gray-link" href="/login">login</a>
    |
    <a class="gray-link" href="/signup">signup</a>

</div>

<body>
<h2>{ao-wiki} signup</h2>
<form method="post">
    <table>
        <tr>
            <td class="label">
                Username
            </td>
            <td>
                <input type="text" name="username" value="{{ username }}">
            </td>
            <td class="error">
                {{ username_error }}
            </td>
        </tr>

        <tr>
            <td class="label">
                Password
            </td>
            <td>
                <input type="password" name="password" value="">
            </td>
            <td class="error">
                {{ password_error }}
            </td>

        <tr>
            <td class="label">
                Verify Password
            </td>
            <td>
                <input type="password" name="verify" value="">
            </td>
            <td class="error">
                {{ verify_error }}
            </td>
        </tr>

        <tr>
            <td class="label">
                Email (optional)
            </td>
            <td>
                <input type="text" name="email" value="{{ email }}">
            </td>
            <td class="error">
                {{ email_error }}
            </td>
        </tr>
    </table>

    <input type="submit">
    <br>
    <br>
    <a class="wiki-link" href="/">Return to the homepage!</a>
</form>
</body>
</html>