html {
    height: 100%;
}

body {
    position: relative;
    height: 100%;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    width: 800px;
    margin: 0 auto;
    color: #333;
}

.label {
    text-align: right;
}

.header {
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
}

.controls {
    float: right;
    font-size: 13px;
    color: gray;
}

.controls + .controls {
   margin-right: 20px
}

.gray-link {
    color: gray;
    text-decoration: none;
}

.gray-link:visited {
    color: gray;
}

.gray-link:hover {
    text-decoration: underline;
}

.wiki-link {
    color: #cd5c5c;
    text-decoration: none;
}

.wiki-link:visited {
    color: #cd5c5c;
}

.wiki-link:hover {
    text-decoration: underline;
}

.error {
    color: red;
}

.main-edit {
    position: absolute;
    top: 45px;
    right: 0;
    bottom: 10px;
    left: 0;
}

.main-edit textarea {
    position: absolute;
    top: 0;
    bottom: 30px;
    left: 0;
    right: 0;
    font-size: 14px;
}

.form-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
}

.main-edit button {
    font-size: 18px;
}

.history-table {
    border-collapse: collapse;
}

.history-table .gray {
    background-color: #eee;
}

.history-table .date-cell {
    width: 200px;
}

.history-table .content-cell {
    padding: 10px;
}

.history-table .link-cell {
    padding: 0 5px;
}

.profile-block {
    color: #A3A3A3;
    font-size: .875em;
    letter-spacing: -.02em;
    line-height: 1.2em;
    margin-top: 20px;
    padding-left: 80px;
    position: relative;
    width: 300px;
}

.profile-block p {
    padding:5px 0;
}

.sidebar-block {
    margin-bottom:30px;
}

.avatar {
    left:0;
    position:absolute;
    top:0;
}
